* {box-sizing: border-box}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: #23424A;
    color: white;

    width: 80%;
    margin: 0 auto;

    /*height: 300px;*/

    /* WEBSITES ARE NATURALLY RESPONSIVE

    - Mi smo ti koji smo nešto napravili da smo to poremetili

    */

    /* AKO TREBAMO NPR. JOŠ BACKGROUND-a (img, color) možemo stavit padding */

    padding: 5em;
    /* 16 * 5 = 80px (DEFAULT BROWSER FONT SIZE = 16px)
    +  Nismo nigdje podesili font-size do sada, pa je naslijeđen (inherited) DEFAULTNI od 16px
     */

    /* POGLEDAJ CSS em and rem explained
    https://www.youtube.com/watch?v=_-aDOAMmDHI */


}